@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: darkgrey;
}

.height-max-content {
  height: max-content;
}

.width-max-content {
  width: max-content;
}

.carousel-clicker-container {
  position: absolute;
  display: flex;
  width: inherit;
}

.main-carousel-image {
  min-width: 900px;
  max-width: 900px;
  height: 600px;
  overflow: hidden;
}

.preview-image {
  display: inline;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.clicker {
  border-radius: 25px;
  background-color: white;
  opacity: 25%;
  width: 60px;
  height: 60px;
}

.carousel-clicker-left {
  margin-top: 300px;
  position: relative;
}

.carousel-clicker-right {
  margin-top: 300px;
  margin-left: 780px;
}

/*fullscreen video */
video {
  object-fit: cover;
  z-index: -12;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
